.user-by-countries {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.user-graph-main {
  padding: 10px;
  width: 300px;
}
@media (max-width: 480px) {
  .user-by-countries {
    flex-direction: column !important;
  }
}
