.application-main {
  display: flex;
  flex-direction: column;
  padding: 0px 50px;
}

.application-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
}

.application-header-content {
  display: flex;
  flex-direction: column;
}

.application-header h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin: 0%;
  color: var(--text-color);
}

.application-header p {
  margin: 0%;
  color: #131313b2;
  margin-top: 5px;
  font-size: 16px;
  color: var(--text-color);
}

.application-filters-clear {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
  margin: 20px 0px;
}

.filter-clear-button {
  border: 1px solid red !important;
  color: red !important;
}

.application-filter {
  border: 2px dashed rgb(146, 146, 146);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* gap: 20px; */
}

.application-filter-left {
  display: flex;
  flex-direction: column;
}

.application-filter-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.application-location-title {
  font-size: 18px !important;
  font-weight: 500 !important;
}

.application-location-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}

.filter-submit-button {
  background-color: var(--primary-color) !important;
  box-shadow: none !important;
  padding: 7px 20px !important;
  text-transform: none !important;
}

.selected-tab {
  color: var(--primary-color) !important;
}

.css-1qltlow-MuiTabs-indicator {
  background-color: var(--primary-color) !important;
}

.application-recently-hired {
  border: 1px solid silver;
  padding: 0px;
  padding: 0px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked {
  color: black !important;
}

.css-161ms7l-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked
  + .MuiSwitch-track {
  background-color: #32be71 !important;
}

.filtered-application-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border: 1px solid #0d0d0d33 !important;
  margin-left: 20px !important;
  color: var(--text-color) !important;
  padding: 0px 12px !important;
  text-transform: none !important;
}
.tabs-container {
  border-bottom: 1px solid silver !important;
  padding: 0px 0px 10px 0px;
}
.application-student-card {
  border: 1px solid silver;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  border-radius: 10px;
}
.application-students-all {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
.application-student-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.application-student-card-header-info {
  display: flex;
  flex-direction: column;
}
.application-student-card-header-info h1 {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
}
.application-student-card-header-info p {
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
  margin-top: 5px;
  color: #6e7577;
}
.application-student-profiles {
  width: 70px !important;
  height: 70px !important;
  cursor: pointer;
}
.application-rating {
  color: #fdcb60;
}
.application-student-country-location {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.application-student-country-location p {
  margin: 0px;
  font-size: 12px;
  align-items: center;
  color: #6e7577;
}
.application-student-country-location SPAN {
  margin: 0px;
  font-size: 12px;
  align-items: center;
  font-weight: 600;
}
.application-skills {
  font-size: 14px;
}
.application-skills-all {
  border: 1px solid silver;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.application-skills-all p {
  margin: 0px;
  font-size: 10px;
}
.application-card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.application-card-actions-message {
  background-color: #32bf74 !important;
  color: black !important;
  text-transform: none !important;
}
.application-card-actions-follow {
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  text-transform: none !important;

}
